*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

html, body {
  height: 100%;
  width: 100%;
}

#app #map {
  height: 100dvh;
}

#app #map canvas.maplibregl-canvas {
  position: absolute;
}
